{
	"semi": false,
	"arrowParens": "avoid",
	"trailingComma": "all",
	"jsxSingleQuote": false,
	"printWidth": 120,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"useTabs": true,
	"tabWidth": 4
}
